$maxWidth: 1170px;

$sizes: ('xs': 280px, 'sm': 576px, 'md': 768px, 'lg': 992px, 'xl': 1200px);

$mainFontAllSectionTitle:  'Proxima Nova';
$secondaryFontText: 'PT Sans';

$mainColorAllProject: #fff;
$secondaryColor: #665f60;
$colorOurTeamItems_Footer: #9f9acf;
$bgColor_About_Services_OurTeam: #ebebeb;
$buttonColor: #7d7a7c;





