@import 'vars';
@import 'mixins';
@import 'fonts';
@import 'slick';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', 'Proxima Nova', sans-serif;
}
// ---------------------------------------------general---------------------------------------
.header,
.hero,
.about,
.services,
.works,
.our-team,
.contact,
.footer {
    @media screen and (min-width: 280px) {
        @include containerWidthSm(1vh, 180px);
    }
    @media screen and (min-width: 576px) {
        @include containerWidthSm(2vh, 240px);
    }
    @media screen and (min-width: 768px) {
        @include containerWidthMd(3vh, 320px);
    }
    @media screen and (min-width: 992px) {
        @include containerWidthLarg(4vh, 400px);
    }
    @media screen and (min-width: 1200px) {
        @include containerWidthXlar(4vh, 500px);
    }
    @media screen and (min-width: 1600px) {
        @include containerWidthXlar(4vh, 660px);
    }
}
// ---------------------------------------------button----------------------------------------
.btn-link {
    display: inline-block;
    text-decoration: none;
    font-family: $secondaryFontText;
    font-weight: 300;
    font-style: italic;
    font-size: 20px;
    line-height: 1;
    padding: 20px 50px; 
    border: 1px solid currentColor;
    color: $buttonColor;
    transition: 0.5s ease-out;

    &:hover, &:focus {
        color:  $mainColorAllProject;
        background-color: $buttonColor;
    }
}
// ---------------------------------------------hamburger-------------------------------------
#hamburger-checkbox, .hamburger {
    display: none;
}

@include media ('max', 'lg') {
    
    #hamburger-checkbox {
        opacity: 0;
        position: absolute;
        z-index: -1000;
        display: inline-block;
    }
    .hamburger {
        width: 35px;
        height: 28px;
        position: relative;
        display: block;
        
        &:before,
        &:after {
            content: '';
        }
        span,
        &:before,
        &:after {
            width: 100%;
            height: 4px;
            position: absolute;
            background-color: #fff;
            left: 0;
            border-radius:2px;
            transition: all .3s ease-out;
        }
        span {
            top: 50%;
            transform: translateY(-50%);
        }
        &:after {
            top: auto;
            bottom: 0;
        }
        
    }
    #hamburger-checkbox:checked + .hamburger {
        span {
            opacity: 0;
        }
        &:before {
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
        }
        &:after {
            top: 50%;
            bottom: auto;
            transform: translateY(-50%) rotate(-45deg);
        }
    }
    #hamburger-checkbox:checked ~ .header__menu {
        height: auto;
    }
}
// ---------------------------------------------header----------------------------------------
.header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding-top: 30px;
    z-index: 100;
    
    &__menu {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding-top: 20px;
    }

    &__menu-link {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 400;
        font-family: $mainFontAllSectionTitle;
        display: inline-block;
        margin: 0 15px 10px;
        color: $mainColorAllProject;        
    }

    @include media('max','lg') {
        flex-wrap: wrap;
        
        &__nav {
            width: 100%;
            display: none;
        }
        &__menu {
            display: block;
            text-align: center;
            background-color: #aca5c0;
        }
        #hamburger-checkbox:checked ~ &__nav {
            display: block;
        }
    }
}
// ---------------------------------------------hero-section----------------------------------
.hero {
    background-image: url(../img/bg_hero_section.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    
    &__wrapper {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 960px;
        // transform: translateY(50%);
    }

    &__title {
        font-family: $mainFontAllSectionTitle;
        font-size: calc(34px + 36 * (100vw / 1170));
        @include media ('max', 'md') {
            font-size: calc(34px + (16 + 16 * 0.7) * (100vw / 300) / 1170);
        }
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        color: $mainColorAllProject;
    }

    &__subtitle {
        font-family: $secondaryFontText;
        font-style: italic;
        font-size: 30px;
        font-weight: 400;
        color: $mainColorAllProject;
        text-align: center;
    }
    
}
// ---------------------------------------------about-section---------------------------------
.about {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: $bgColor_About_Services_OurTeam;

    @include media('max','lg'){
        padding-bottom: 50px;
    }

    &__wrapper {
        display: flex;

        @include media('max','lg') {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
        }
    }

    &__picture {
        width: 40%;
        background-image: url(../img/img_about_section.jpg);
        background-size: cover;
        max-width: 380px;
        height: 560px;
        margin-right: 125px;

        @include media('max','lg'){
            margin-right: 0;
        }
    }
    
    &__picture-wrapper {
        text-align: center;
        transform: translateY(50%);
        img {
            margin-bottom: 50px;
        }
    }

    &__title {
        color: $mainColorAllProject;
        font-size: 36px;
        font-family: $mainFontAllSectionTitle;
        text-transform: uppercase;
        font-weight: 300;
    }

    &__description {
        width: 60%;
        padding: 70px 0 100px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include media('max','lg') {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
        }
    }
    &__text-first {
        margin-bottom: 30px;
    }
    &__text-second {
        margin-bottom: 100px;
    }
}
// ---------------------------------------------services section -----------------------------
.services {
    background-color: $bgColor_About_Services_OurTeam;

    &__wrap {
        display: flex;
        flex-direction: row;
        
        @include media('max','lg') {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
        }
    }

    &__description {
        width: 70%;
    }

    &__row {
        display: flex;
        text-align: center;

        @include media('max','lg') {
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
        }
    }

    &__item {
        width: 50%;
        padding: 100px 100px 140px;
        
        img {
            margin-bottom: 25px;
        }

        @include media('max','lg') {
            width: 70%;
            padding: 30px;
        }
        @include media('max','xl') {
            width: 70%;
            padding: 25px;
        }
    }
    
    .color-bg {
        background-color: #dbdbdb;

        @include media('max','lg') {
            background-color: $bgColor_About_Services_OurTeam;
        }
    }

    &__item-title {
        margin-bottom: 20px;
        font-family: $secondaryFontText;
        font-style: bold;
        font-size: 24px;
        color: #665f60;
    }

    &__item-text {
        font-family: $secondaryFontText;
        font-style: italic;
        font-size: 18px;
        color: #665f60;
    }

    &__info {
        background-image: url(../img/img_services_section.jpg);
        background-size: cover;
        width: 30%;
        text-align: center;
        padding: 110px 10px 0;
        img {
            margin-bottom: 25px;
        }

        @include media('max','lg') {
            width: 70%;
            padding-bottom: 40px;
        }
    }

    &__info-title {
        font-family: $mainFontAllSectionTitle;
        font-size: 36px;
        color: $mainColorAllProject;
        margin-bottom: 120px;

        @include media('max','lg') {
            margin-bottom: 20px;
        }
        @include media('max','xl') {
            margin-bottom: 20px;
        }
    }

    &__info-text {
        font-family: $secondaryFontText;
        font-style: italic;
        font-size: 18px;
        color: $mainColorAllProject;
    }
}
// ---------------------------------------------section works---------------------------------
.works {
    background-image: url(../img/bg_work_section.jpg);
    background-size: cover;
    padding-top: 45px;
    padding-bottom: 50px;


    &__header {
        text-align: center;
        img {
            margin-bottom: 35px;
        }
    }
    &__title {
        font-family: $mainFontAllSectionTitle;
        font-size: 36px;
        color: $mainColorAllProject;
        margin-bottom: 70px;
    }
    &__btn {
        color: $mainColorAllProject;
    }
}
// ---------------------------------------------style for slick-------------------------------
.slick-dots {
    list-style: none;
    margin-left: 0;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
   
    li {
        display: inline-block;
        margin: 0 10px;
    }

    button {
        font-size: 0;
        background-color: transparent;
        border-radius: 50%;
        border: 1px solid $mainColorAllProject;
        width: 10px;
        height: 10px;
    }

    li.slick-active button{
        background-color: $mainColorAllProject;
    }
}
.slick-arrow {
    color: $mainColorAllProject;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border: 1px solid currentColor;
    border-radius: 50%;
    font-size: 0;
    background-color: transparent;
    transition: all .2s ease-out;

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        border-color: currentColor;
        border-style: solid;
        border-width: 0 1px 1px 0;
        width: 5px;
        height: 5px;
    }

    &:hover, &:focus {
        opacity: .7;
    }
    
}
.slick-next {
    right: -55px;
    &:before {
        transform: translate(-50%, -50%) rotate(318deg);
    }
}
.slick-prev {
    left: -55px;
    &:before {
        transform: translate(-50%, -50%) rotate(132deg);
    }
}
// ---------------------------------------------our team section---------------------------------
.our-team {
    background-color: $bgColor_About_Services_OurTeam;
    padding-top: 45px;
    padding-bottom: 50px;


    &__header {
        text-align: center;
        img {
            margin-bottom: 35px;
        }
    }
    &__title {
        font-family: $mainFontAllSectionTitle;
        font-size: 36px;
        color: #665f60;
        margin-bottom: 70px;
    }

    &__wrapper {
        background-color: $mainColorAllProject;
        text-align: center;
        max-width: 350px;
        padding: 160px 30px 50px;
    }
    &__item:not(:last-child) {
        margin-right: 25px;
    }
    &__photo {
        margin: 0 auto -37%;
    }
    &__name {
        font-family: $mainFontAllSectionTitle;
        font-size: 24px;
        font-style: bold;
        color: $colorOurTeamItems_Footer;
        text-transform: uppercase;
    }
    &__profession {
        font-family: $secondaryFontText;
        font-size: 24px;
        font-style: italic;
        color: $secondaryColor;
    }
    &__socials-list {
        list-style: none;
        background-color: $colorOurTeamItems_Footer;
        max-width: 350px;
        display: flex;
        justify-content: center;
        padding: 28px 45px 15px;
    }
    &__socials-item {
        a {
            display: inline-block;
            width: 40px;
            height: 40px;
        }
    }
    &__socials-item:not(:last-child) {
        margin-right: 15px;
    }
}
// ---------------------------------------------map section--------------------------------------
.map {
    // position: relative;
    #map {
        min-height: 800px;
    }
}
// ---------------------------------------------contact section----------------------------------
.contact {
    background-color: #c8c4da;
    position: relative;
    
    &__header {
        text-align: center;
        margin-bottom: 270px;
        img {
            margin-bottom: 35px;
        }
    }
    &__title {
        font-family: $mainFontAllSectionTitle;
        font-size: 36px;
        color: $mainColorAllProject;
        margin-bottom: 70px;
    }
    &__adress-wrapper {
        position: absolute;
        top: 250px;
        right: 0;

    }
    &__adress {
        display: flex;
        align-items: center;
        max-width: 350px;
        margin-bottom: 10px;
    }
    &__icon {
        width: 90px;
        height: 90px;
        background-color: $colorOurTeamItems_Footer;
        text-align: center;
        padding-top: 28px;
    }
    &__text {
        padding: 11px 33px;
        background-color: $mainColorAllProject;
        font-family: $secondaryFontText;
        font-size: 18px;
        color: $secondaryColor;

    }
    &__phone {
        padding: 34px 53px;
        background-color: $mainColorAllProject;
        font-family: $secondaryFontText;
        font-size: 18px;
        color: $secondaryColor;
    }
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
// --------------------------------------------scroll up-----------------------------------------
.scroll-up {
    position: absolute;
    bottom: 15%;
    right: 10%;
    transform: translate(-50%, 50%);
    width: 80px;
    height: 80px;
    background-color: $colorOurTeamItems_Footer;

    &__buttton {
        color: #fff;
        border: 1px solid currentColor;
        display: inline-block;
        transition: all .3s ease-out;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            border-color: currentColor;
            border-style: solid;
            border-width: 0 1px 1px 0;
            width: 20px;
            height: 20px;
            transform: translate(-50%, -25%) rotate(224deg);
        }
        &:hover, &:focus {
            // transform: scale(1.1);

            &:before {
                animation: scrollDown 1s infinite;
            }
        }
    }
}
// --------------------------------------------footer--------------------------------------------
.footer {
    background-color: $colorOurTeamItems_Footer;
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 70px;
    &__copyright {
       padding-top: 35px;
       color: $mainColorAllProject;
       font-size: 18px;
    }
}